@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Lato";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  z-index: 100;
}

.header__container {
  font-family: "Lato";
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1230px;
  min-height: 52px;
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 130px 1fr 210px 145px .header__container __logo;
      grid-template: 1fr/130px 1fr 210px 145px .header__container __logo;
  grid-template-display: flex;
  grid-template-justify-content: center;
  grid-template-place-items: center;
}

.header__container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  margin-left: 60px;
  margin-right: 225px;
}

.header__container__menu__item {
  font-weight: 700;
  font-style: 16px;
  line-height: 160%;
  color: #424551;
  white-space: nowrap;
  padding-right: 40px;
}

.header__container__menu__item:hover {
  color: #FF3F3A;
}

.header__container__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  margin-right: 35px;
}

.header__container__button__item {
  font-weight: 700;
  font-style: 16px;
  line-height: 160%;
  width: 205px;
  height: 50px;
  color: white;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
}

.header__container__login {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.header__container__login__logo__item {
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.header__container__login__item {
  font-weight: 700;
  font-style: 16px;
  line-height: 160%;
  color: #424551;
  -ms-grid-row: 1;
      grid-row-start: 1;
  white-space: nowrap;
}

.header__container__login__item:hover {
  color: #FF3F3A;
}

.header__container:visited {
  color: #424551;
}

.start__container {
  font-family: "Lato";
  font-style: normal;
  margin-top: -70px;
  min-width: 100%;
  max-width: 1920px;
  background-color: rgba(255, 63, 58, 0.2);
  background-image: url(../img/shapes.svg);
  background-repeat: no-repeat;
}

.start__container__play__video {
  margin-top: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(100px, auto) minmax(200px, auto) minmax(50px, auto);
  -ms-grid-columns: minmax(250px, auto) 1fr;
      grid-template: minmax(100px, auto) minmax(200px, auto) minmax(50px, auto)/minmax(250px, auto) 1fr;
  -ms-grid-columns: minmax(500px, auto);
  grid-template-columns: minmax(500px, auto);
}

.start__container__play__video__bg__btn {
  margin: auto 0;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #FF3F3A;
  opacity: 0.12;
}

.start__container__play__video__txt {
  margin: auto 70px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1E212C;
}

.start__container__play__video__btn {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto 19px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FF3F3A;
}

.start__container__play__video__btn img {
  margin: auto;
}

.start__container__text {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
}

.start__container__buttons {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  margin: auto 0;
}

.start__container__buttons__itm {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  margin: auto 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
  border-radius: 4%;
}

.start__container__buttons__item {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  margin-left: 25px;
  line-height: 52px;
  background: rgb(255, 63, 58);
  border-radius: 4px;
  color: #fff;
}

.start__container__img {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
  margin-left: 180px;
}

.start__container__statistics {
  margin-top: 215px;
  margin-bottom: 70px;
}

.start__container__statistics ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start__container__statistics ul li:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.start__container__statistics ul li:nth-child(odd) span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 10px;
}

.start__container__statistics__ellipse {
  width: 8px;
  height: 8px;
  background-color: #FF3F3A;
  border-radius: 50%;
}

.about__container {
  margin-top: 180px;
  max-width: 1920px;
  height: 560px;
  min-width: 100%;
  background-image: url(../img/background__about.svg);
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(80px, auto) minmax(250px, auto) minmax(40px, auto);
  -ms-grid-columns: 1fr 1fr;
      grid-template: minmax(80px, auto) minmax(250px, auto) minmax(40px, auto)/1fr 1fr;
}

.about__container__img {
  width: 705px;
  height: 560px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.about__container__heading {
  margin-left: 135px;
}

.about__container__heading h6 {
  max-width: 115px;
  height: 25px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.about__container__heading h1 {
  max-width: 300px;
  max-height: 60px;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.about__container__bulletlist {
  margin-left: 135px;
  max-width: 360px;
}

.about__container__bulletlist ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  background: url(../img/check__about.svg) no-repeat 0 7px;
  padding-left: 30px;
}

.about__container__button {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-left: 135px;
}

.about__container__button__itm {
  width: 160px;
  height: 45px;
  background: rgb(255, 63, 58);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
}

.courses__container {
  margin-top: 180px;
  max-width: 1230px;
  width: 100%;
  height: 855px;
  padding-right: 0;
}

.courses__container__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-right: 0;
}

.courses__container__heading__text {
  margin: 0;
}

.courses__container__heading__text h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
}

.courses__container__heading__text h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

.courses__container__heading__button {
  padding-right: 0;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.courses__container__heading__button__itm {
  width: 200px;
  height: 50px;
  padding: 0 40px;
  border-radius: 4px;
  border: solid 1px;
  border-color: #FF3F3A;
  color: #FF3F3A;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
}

.courses__container__cards {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 215px 30px 215px 30px 215px;
  -ms-grid-columns: 600px 30px 600px;
      grid-template: repeat(3, 215px)/repeat(2, 600px);
  gap: 30px;
}

.courses__container__cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  padding-left: 0;
}

.courses__container__cards__item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 215px;
  padding: 0;
  margin: 0;
}

.courses__container__cards__item__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
  padding: 0;
  gap: 20px;
}

.courses__container__cards__item__txt__marketing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 0;
  background-color: #03CEA4;
  border-radius: 4px;
  color: #fff;
  width: 80px;
  height: 25px;
  padding: 1px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.courses__container__cards__item__txt__hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 0;
  background-color: #F89828;
  border-radius: 4px;
  color: #fff;
  width: 115px;
  height: 25px;
  padding: 1px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  white-space: nowrap;
}

.courses__container__cards__item__txt__management {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 0;
  background-color: #5A87FC;
  border-radius: 4px;
  color: #fff;
  width: 100px;
  height: 25px;
  padding: 1px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.courses__container__cards__item__txt__desing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 0;
  background-color: #F52F6E;
  border-radius: 4px;
  color: #fff;
  width: 60px;
  height: 25px;
  padding: 1px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.courses__container__cards__item__txt__text {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}

.courses__container__cards__item__txt__info {
  margin-left: 0;
  padding: 0;
  height: 30px;
  width: 230px;
  color: #787A80;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.courses__container__cards__item__txt__info span {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FF4242;
}